### Project Constants (Need to be set by project)

ROOT_DIR="."
APPNAME="##project_name##"
DISPLAY_APPNAME="##app_display_name##"
WORKSPACE="##workspace_name##.xcworkspace"
SCHEME="##scheme_for_archiving##"
PROVPROFILE="##provisioning_profile_for_archiving##"
PLISTFILE="##path_to_info.plist##"
PUBLISH_URL="##publish_url_folder##"

### Constants (Usually need to be set only once)

COMPANYNAME="##your_company##"
COMPANYEMAIL="##company_email##"
REMOTEPATH="##your_server_remote_path##/${APPNAME}"
TRANSMIT_FAVNAME="##your_transmit_fav##"
ARCHIVEPATH="${HOME}/Desktop/outbox/archive/${APPNAME}"