### Project Constants (Need to be set by project)

ROOT_DIR="."
APPNAME="##project_name##"
DISPLAY_APPNAME="$APPNAME"
WORKSPACE="$APPNAME.xcworkspace"
# PROJECTNAME="##project##" # Only needed if you don't have a workspace
SCHEME="$APPNAME"
# EXPORTMETHOD="app-store" # enterprise by default. For possible values check "xcodebuild --help" method option

PLISTFILE="##plist_path##" # path to info.plist
PUBLISH_URL="##publish_folder_url##" # Example: https://apps.company.com/$APPNAME -> https://apps.company.com/$APPNAME/$APPNAME.ipa
SEND_EMAIL=false
EMAIL="##email_to_be_notified##"
EMAIL_NAME="##name_in_email_to##"
DISABLE_SOURCE_CONTROL=0 # Set to 1 to disable commit/push
# APPICON="" # JJDeploy will try to find the icon automatically. If you don't use image assets or there are more than one write the path to the image here
# XCODEPARAMS="GCC_PREPROCESSOR_DEFINITIONS=\"$GCC_PREPROCESSOR_DEFINITIONS DEBUG=1\"" # You can add here parameters to pass to xcodebuild

KEYCHAIN_ITEM="##keychain_item_name##"
FTPACCOUNT="##user##"
FTPSERVER="##1.1.1.1##"
FTPPORT="##21##"

### Constants (Usually need to be set only once)

COMPANYNAME="##your_company##"
FTPREMOTEPATH="##your_server_remote_path##/${APPNAME}"
ARCHIVEPATH="${HOME}/Desktop/outbox/jjdeploy/${APPNAME}"