### Project Constants (Need to be set by project)

ROOT_DIR="."
APPNAME="##project_name##"
DISPLAY_APPNAME="$APPNAME"
WORKSPACE="$APPNAME.xcworkspace"
PROJECTNAME="##project##" # Only needed if you don't have a workspace
SCHEME="$APPNAME"
PROVPROFILE="##provisioning_profile_for_archiving##"
PLISTFILE="##plist_path##" # path to info.plist
PUBLISH_URL="##publish_folder_url##" # Example: https://apps.company.com/$APPNAME -> https://apps.company.com/$APPNAME/$APPNAME.ipa
SEND_EMAIL=false
EMAIL="##email_to_be_notified##"
EMAIL_NAME="##name_in_email_to##"

### Constants (Usually need to be set only once)

COMPANYNAME="##your_company##"
FTPREMOTEPATH="##your_server_remote_path##/${APPNAME}"
TRANSMIT_FAVNAME="##your_transmit_fav##"
ARCHIVEPATH="${HOME}/Desktop/outbox/jjdeploy/${APPNAME}"